<div>
  <h3>gem</h3>
  <ul>
    <!--導入・namespace・論理削除-->
    <li>devise</li>
    <!--導入・日本語化・カスタマイズ（実施したもの）-->
    <li>SimpleClender</li>
  </ul>
</div>
<div>
  <h3>いいね・お気に入り機能</h3>
  <ul>
    <li>いいね機能</li>
    <li>お気に入り閲覧</li>
  </ul>
</div>
<div>
  <h3>フォロー機能</h3>
  <ul>
    <li>フォローする</li>
    <li>フォローの閲覧</li>
  </ul>
</div>
<div>
  <h3>検索機能</h3>
  <ul>
    <li>キーワード検索</li>
    <li>タグ検索</li>
    <li>日付検索</li>
  </ul>
</div>
<div>
  <h3>お問合せ機能</h3>
  <ul>
    <li>管理者へメールを送る</li>
  </ul>
</div>