<%= link_to '自分のためのサイト「ALL Lists」作成計画', all_lists_path %>
<div class="list-contents">
  <h3>知識</h3>
  <ul>
    <li class="content-list">インスタンスメソッド</li>
  </ul>
</div>
<div class="list-contents">
  <h3>gem</h3>
  <ul>
    <!--導入・namespace・論理削除-->
    <li class="content-list">devise</li>
    <!--導入・日本語化・カスタマイズ（実施したもの）-->
    <li class="content-list">SimpleClender</li>
  </ul>
</div>
<div class="list-contents">
  <h3>いいね・お気に入り機能</h3>
  <ul>
    <li class="content-list">いいね機能</li>
    <li class="content-list">お気に入り閲覧</li>
  </ul>
</div>
<div class="list-contents">
  <h3>フォロー機能</h3>
  <ul>
    <li class="content-list">フォローする</li>
    <li class="content-list">フォローの閲覧</li>
  </ul>
</div>
<div class="list-contents">
  <h3>検索機能</h3>
  <ul>
    <li class="content-list">キーワード検索</li>
    <li class="content-list">タグ検索</li>
    <li class="content-list">日付検索</li>
  </ul>
</div>
<div class="list-contents">
  <h3>お問合せ機能</h3>
  <ul>
    <li class="content-list">管理者へメールを送る</li>
  </ul>
</div>