<div>
  <h3>実装したいこと</h3>
  <ul class="test">
    <li class="test-1">学習したことをアウトプットするための記事が投稿できる（エンジニア）</li>
      <ul>
        <li class="test-2">作成日と更新日がわかる</li>
        <li class="test-2">ソースコードが文中に表示できる</li>
        <li class="test-2 same">画像が文中に表示できる #1</li>
        <li class="test-2">関連する記事へのリンクが文中に表示できる</li>
        <li class="test-2">実際の挙動が確認できる</li>
        <li class="test-2">参考にしたサイトのリンクがある</li>
        <li class="test-2 same">文中の用語解説がポップアップで表示される（記事とは別の簡単な説明） #2</li>
        <li class="test-2 same">ジャンルごとにタグ付けができる #3</li>
        <li class="test-2 same">タグによる検索ができる #4</li>
        <li class="test-2">キーワードによる検索ができる</li>
        <li class="test-2 same">カレンダーによって投稿日がわかる（共通を色分け）</li>
        <li class="test-2"></li>
      </ul>
  </ul>
  <ul class="test">
    <li class="test-1">学習したことをアウトプットするための記事が投稿できる（管理栄養士）</li>
      <ul>
        <li class="test-2">作成日がわかる</li>
        <li class="test-2">学習計画が立てられる</li>
        <li class="test-2">理解度を示す表示がある（更新可能）</li>
        <li class="test-2">全体・分野ごとの理解度が比較できる表示がある</li>
        <li class="test-2">暗記項目に対するテストができる（JavaScript使用の暗記カードみたいなもの）</li>
        <li class="test-2 same">文中で画像が表できる #1</li>
        <li class="test-2 same">文中の用語説明がポップアップで表示できる #2</li>
        <li class="test-2">投稿記事は後から編集可能</li>
        <li class="test-2">ロゴ暗記などをまとめて閲覧できる</li>
        <li class="test-2 same">分野ごとにタグ付けできる #3</li>
        <li class="test-2 same">タグで検索できる #4</li>
        <li class="test-2 same">カレンダーによって投稿日がわかる（共通を色分け）</li>
      </ul>
  </ul>
  <ul class="test">
    <li class="test-1">自分で作ったレシピのための検索サイト</li>
      <ul>
        <li class="test-2 same">画像が投稿できる（調理工程にもできるとなお可） #1</li>
        <li class="test-2">レシピ投稿の際に材料リストを追加できる</li>
        <li class="test-2 same">材料リストからの検索ができる #3 #4</li>
        <li class="test-2">材料の効果効能・旬などのデータが表示できる</li>
        <li class="test-2 same">体の不調から材料・レシピを検索できる #3 #4</li>
        <li class="test-2">参考にした書籍・サイトがわかる</li>
        <li class="test-2">感想などの一言メモみたいなものがある</li>
        <li class="test-2">お気に入り機能がある</li>
        <li class="test-2 same">「包丁要らず」「レンジだけ」など調理方法や特徴で検索できる #3 #4</li>
      </ul>
  </ul>
  <ul class="test">
    <li class="test-1">家計簿（出納管理自動計算ツール）</li>
      <ul>
        <li class="test-2">各項目の金額を入力できる</li>
        <li class="test-2">各月の合計出費がわかる</li>
        <li class="test-2">各月の合計収入がわかる</li>
        <li class="test-2">予定出費が入力できる</li>
        <li class="test-2">予定出費に対する黒字額（赤字額）がわかる</li>
        <li class="test-2">各項目は更に細分化させて項目分けすることができる</li>
        <li class="test-2">仮にサイトを公開するとしても自分以外は閲覧不可</li>
      </ul>
  </ul>
</div>